NEXT_PUBLIC_CONTRACT_ADDRESS=0x08cc3691905776CB4D3987Bb586C27cf0B2385A9
NEXT_PUBLIC_CHAIN_ID=61997
NEXT_PUBLIC_STUDIO_RPC=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_STUDIO_EXPLORER=https://explorer-studio-dev.genlayer.com/
