NEXT_PUBLIC_CONTRACT_ADDRESS=0x497e27198698496F3e1Ad2a8FB145fDc6F9ADFa6
NEXT_PUBLIC_CHAIN_ID=61997
NEXT_PUBLIC_STUDIO_RPC=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_STUDIO_EXPLORER=https://explorer-studio-dev.genlayer.com/
