NEXT_PUBLIC_CONTRACT_ADDRESS=0x42e473D86068D494720f68844BD9d999C8d56426
NEXT_PUBLIC_CHAIN_ID=61997
NEXT_PUBLIC_STUDIO_RPC=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_STUDIO_EXPLORER=https://explorer-studio-dev.genlayer.com/
